@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Unica+One');

body{
    font-family: 'Unica One', cursive;
    background-color: #daeef4;
    color: #112b36;
    cursor: url("Embossed.cur"), auto;	
}

img.gif{
    position: absolute;    
    right: 90vw;
    top: 33vw;
    z-index: -1;
    animation: slide 10s linear infinite;
    width: 300px;
    height: auto;
}

@keyframes slide{
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(120vw, 0, 0);
    }
}

#spellBookDiv{
    background-color: #eec239;
    font-family: 'Francois One', sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 2px #ec6249;
    text-align: center;
    
}

.heading{
    font-family: 'Francois One', sans-serif;
    font-size: 25px;
    text-align: center;
}

.list{
    font-size: 20px;
    list-style-position: inside;
    height: 60px;
    overflow-y: scroll;
    width: 500px;
    margin: 2vh 29vw;
    text-align: center;
}

input{
    font-size: 20px;
    text-align: center;
    font-family: 'Francois One', sans-serif;
    cursor: url("Embossed.cur"), auto;	
}

#formID{
    text-align: center;
}
