@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Unica+One');

body{
    font-family: 'Unica One', cursive;
    background-color: #daeef4;
    color: #112b36;
}

img.hp{
    position: absolute;    
    right: 100vw;
    top: 40vw;
    z-index: -1;
    animation: slide 4s linear infinite;
    width: 300px;
    height: auto;
}

@keyframes slide{
    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(140vw, -60vw, 0);
    }
}

#spellBookDiv{
    background-color: #eec239;
    font-family: 'Francois One', sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 2px #ec6249;
    text-align: center;
    opacity: 0.95;
}

#spellBookDiv:hover{
    position: relative; 
    top: -3px; 
    left: -3px; 
    text-shadow: 1px 1px #ec6249, 
                 2px 2px #ec6249, 
                 3px 3px #ec6249, 
                 4px 4px #ec6249, 
                 5px 5px #ec6249, 
                 6px 6px #ec6249;
}

#a{
    position: relative;
    animation: moving 3s infinite;
}
#b{
    position: relative;
    animation: moving 3s infinite;
}
#c{
    position: relative;
    animation: moving 3s infinite;
}
#d{
    position: relative;
    animation: moving 3s infinite;
}
#e{
    position: relative;
    animation: moving 3s infinite;
}
#f{
    position: relative;
    animation: moving 3s infinite;
}
#g{
    position: relative;
    animation: moving 3s infinite;
}
#h{
    position: relative;
    animation: moving 3s infinite;
}
#i{
    position: relative;
    animation: moving 3s infinite;
}
    
@keyframes moving {
    0%, 100%{
        bottom: 8px;
    }
    50%{
        bottom: -8px;
    }
}


input[type=submit]{
    width: 20px;
    height: 20px;
    border-radius: 2vw;
}

input[type=submit]:hover{
    background-color: #90d0f0;
}


.spell{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 0.9vw;
}

.name{
    width: 90%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding-left: 0.1em;
    text-align: left;
}

.manaNeeded{
    width: 80%;
}

main{
    font-size: 30px;
    list-style-position: inside;
    height: 30vw;
    overflow-y: scroll;
    width: 50vw;
    text-align: center;
    box-sizing: border-box;
    background-size: cover;
    margin-left: 24.5vw;
    padding: 1.5rem 4rem;
    border-radius: 3vw;
    background-color: #b3d7df;
    opacity: 0.9;
}

input{
    flex: 4 1 0;
    height: auto;
    font-size: 1rem;
    text-align: center;
    font-family: 'Francois One', sans-serif;
    width: 20%;
    border-color: #b3d7df;
    opacity: 0.9;
    border-radius: 0.5vw;
}

button.delete{
    background: none;
    color: #ec6249;
    border-color: #b3d7df;
    background-color: none;
    border-radius: 0.4vw;
}

button.delete:hover{
    background-color: cadetblue;
    border-color: cadetblue;
    background-color: cadetblue;
}

#trash{
    width: 20px;
    height: 20px;
}


button.fav{
    background: none;
    color: #eec239;
    border-color: #b3d7df;
    background-color: none;
    border-radius: 0.5vw;
}

button.fav:hover{
    background-color: cadetblue;
    border-color: cadetblue;
    background-color: cadetblue;
}

#favorite{
    width: 20px;
    height: 20px;
}

button.edit{
    background: none;
    color: #000000;
    border-color: #b3d7df;
    background-color: none;
    border-radius: 0.5vw;
}

button.edit:hover{
    background-color: cadetblue;
    border-color: cadetblue;
    background-color: cadetblue;
}

#pencil{
    width: 20px;
    height: 20px; 
}

#formID{
    text-align: center;
    cursor: url("Embossed.cur"), auto;	
}

*{
    cursor: url("Embossed.cur"), auto;	
}

.template {
    display: none;
  }